<!DOCTYPE html>
<html lang="en" class="nm-np">
<head>

</head>
<body class="nm-np">
<header class="grey">

</header>

<div class="wrapper">
    <p><%= user.role %></p>
</div>
<div id="tentacle"></div>
</body>
</html>