<!DOCTYPE html>
<html lang="en" class="nm-np">
<head>
    <% include ./partials/head %>
</head>
<body class="nm-np">
<header class="grey">
    <% include ./partials/header %>
</header>

<div class="wrapper">
    data goes here
</div>
<div id="tentacle"></div>
</body>
</html>
