<!DOCTYPE html>
<html lang="en" class="nm-np">
<head>
    <% include ./partials/head %>
</head>
<body class="nm-np">
<header class="grey">
    <% include ./partials/header %>
</header>
<div class="wrapper">
<div> 
    <!--replace this><!--> 
        <p>You are <strong><%= user.name %></strong> and your role is <strong><%= user.role %></strong></p>
    <!--replace this><!-->        
    </div>
</div>
<div id="tentacle"></div>
</body>
</html>     